= form_tag sessions_path do
  .labels
    = label_tag :email
    = label_tag :password
  .fields
    = text_field_tag :email, params[:email]
    = password_field_tag :password
  = submit_tag 'Login', class: 'submit'
