%p= "Hi #{@to.name},"

%p
  = link_to @from.name, user_gifts_url(@from)
  = "just added"
  = link_to @gift.name, @gift.url
  = "to the Christmas list."

%p
  = "Love,"
  = link_to 'huntxmas.com', root_url
