%html
  %head
    %title
      = "#{@from.name} added a new Christmas gift"
  %body{ style: "background: #efe;" }
    %p
      = "Hi #{@to.name},"
    %p
      = link_to @from.name,
        user_gifts_url(@from),
        style: "color: #3FA32A; text-decoration: none; font-weight: bold;"
      = "just added"
      = link_to @gift.name,
        @gift.url,
        style: "color: #3FA32A; text-decoration: none; font-weight: bold;"
      = "to the Christmas list."
    %p
      = "Love,"
      = link_to 'huntxmas.com',
        root_url,
        style: "color: #3FA32A; text-decoration: none; font-weight: bold;"
    %p
      = image_tag attachments['snowman.png'].url
