= form_for @user do |f|
  .labels
    = f.label :name
    = f.label :email
    = f.label :password
  .fields
    = f.text_field :name
    = f.text_field :email
    = f.password_field :password
  = f.submit 'Create Account', :class => 'submit'
