!!! 5
%html
  %head
    %title= 'Christmas List'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      #header
        %ul#navigation
          - if current_user
            %li{:title => 'View all gift lists'}
              = link_to 'All Lists', users_path
            %li{:title => 'View your gift list'}
              = link_to 'My List', user_gifts_path(current_user)
            %li{:title => 'Add a gift to your gift list'}
              = link_to 'Add Gift', new_user_gift_path(current_user)
        #current-user
          - if current_user
            = "Logged in as "
            %span= current_user.name
            = link_to 'logout', logout_path
          - else
            = link_to 'login', login_path
      #content
        - if flash
          %ul#flash-messages
            - flash.each do |type, message|
              %li{:class => "flash #{type}"}= message
        = yield
